<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
  <tbody>
    <tr>
      <th><strong>Product Type</strong></th>
      <td>Canned Sweet Corn</td>
      <th><strong>Flavor</strong></th>
      <td>Sweet</td>
      <th><strong>Preservation Process</strong></th>
      <td>Water</td>
    </tr>
    <tr>
      <th><strong>Ingredient</strong></th>
      <td>Kernel Corn, Water, Sugar</td>
      <th><strong>Maaterials</strong></th>
      <td>Fresh Kernel Corn</td>
      <th><strong>Place of Origin</strong></th>
      <td>Fujian, China (Mainland)</td>
    </tr>
    <tr>
      <th><strong>Certification</strong></th>
      <td>HACCP, COC, ISO, HALAL</td>
      <th><strong>Model Number</strong></th>
      <td>340g/400g/2840g</td>
      <th><strong>Shelf Life</strong></th>
      <td>3 Years</td>
    </tr>
    <tr>
      <th><strong>Packing</strong></th>
      <td>Easy Open<br>Normal Lid</td>
      <th><strong>Packaging</strong></th>
      <td>Can(Tin) or Jar</td>
      <th><strong>Brand Name</strong></th>
      <td>Customer's own brand</td>
    </tr>
  </tbody>
</table>

<br><br>

<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr>
      <th><strong>Product</strong></th>
      <th><strong>Size (N.T*Qty/CTN)</strong></th>
      <th><strong>D.W.</strong></th>
      <th><strong>CTNS/20'FCL</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="7">Canned Sweet Corn</td>
      <td>184g*48</td>
      <td>114g</td>
      <td>1800</td>
    </tr>
    <tr>
      <td>284g*24</td>
      <td>156g</td>
      <td>2200</td>
    </tr>
    <tr>
      <td>340g*12 / 340g*24</td>
      <td>250g</td>
      <td>1850/3800</td>
    </tr>
    <tr>
      <td>400g/425g*24</td>
      <td>200g/230g/250g</td>
      <td>1750</td>
    </tr>
    <tr>
      <td>850g*12</td>
      <td>500g</td>
      <td>1750</td>
    </tr>
    <tr>
      <td>2500g*6</td>
      <td>1800g</td>
      <td>1178</td>
    </tr>
    <tr>
      <td>2840g*6</td>
      <td>1800g</td>
      <td>1080</td>
    </tr>
    <tr>
      <td rowspan="2">Canned Baby Corn</td>
      <td>425g*24</td>
      <td>200g/230g/250g</td>
      <td>1750</td>
    </tr>
    <tr>
      <td>2840g*6</td>
      <td>1500g/1800g</td>
      <td>1080</td>
    </tr>
  </tbody>
</table>
